/* defaults */
/*
* {
	margin: 0;
	padding: 0;
}*/

html, body {
	background: url('../images/blueTopGradient.png') #c6dcf5 repeat-x;
	color: #4e7aab;
	
	font-family: Verdana, Arial, sans-serif;
	font-size: 92%;
}

a {
	color: #006eb3;
}
a:hover {
	color: #003e66;
}
a:active {
	color: #007ccb;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 0.6em;
	margin-bottom: 0.4em;
}

fieldset {
	border: 0;
}

/* button-like links */

a.button {
	text-align: center;
	
	padding: 0.6em 0.7em;
	display: block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
a.button {
	background-color: #e0e0e0;
}
a.button:hover {
	background-color: #c1c1c1;
}
a.button:active {
	background-color: #9b9b9b;
}


div#contentShadow {
	background: url('../images/smallHorizontalShadow.png') repeat-x;
	height: 4px;
	widht: 100%;
}
/* big box links */

a.bigBox {
	background: #f1f1f1 url('../images/bigBoxButtonBg.gif') no-repeat center right;
	
	text-decoration: none;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 1em 80px 1em 1em;
	margin-bottom: 1em;
	display: block;
}
a.bigBox:hover {
	background-color: #fafafa;
}
a.bigBox:active {
	background-color: #eee;
}
a.bigBox span.header {
	display: block;
	margin-bottom: 0.6em;
}
a.bigBox span.description {
	display: block;
	color: #666;
}

/* user menu */

#userMenu {
	font-size: small;
	width: 100%;
	text-align: right;
}


/* title */

#dynamicTitle {
	margin: 0;
	color: #a3d4f2;
}
#dynamicTitle h1 {
	margin: 0 0.5em 0.5em;
	font-weight: normal;
	float: left;
}
#dynamicTitle h1 a {
	margin-left: 5px;
	margin-right: 5px;
	color: #006eb3;
	text-decoration: none;
}
#dynamicTitle h1 a:hover {
	color: #0091ed;
}
#dynamicTitle .urlLevel-0 {
	font-weight: bold;
}
#dynamicTitle .urlLevel-1 {
	color: #2d85bc;
	font-size: 0.9em;
}
#dynamicTitle .urlLevel-2 {
	color: #5d9cc4;
	font-size: 0.85em;
}
#dynamicTitle .urlLevel-3 {
	color: #70a8cb;
	font-size: 0.8em;
}
#dynamicTitle .urlLevel-4, #title .urlLevel-5, #title .urlLevel-6 {
	color: #70a8cb;
	font-size: 0.7em;
}
#dynamicTitle h1 span
{
	cursor: default;
	color: #a3d4f2;
	padding-bottom: 2px;
	border-bottom: 4px solid #c6dcf5;
}
#dynamicTitle h1 span:hover
{
	border-bottom: 4px solid #0091ed;
	color: #0091ed;
}

/* level 1 header (main) */

div#mainHeader {
	padding: 6px 6px 6px 18px;
	background: #00afff repeat-x;
	}
	div#mainHeader h2 {
		text-transform: lowercase;
		font-weight: normal;
		font-size: 23px;
		padding: 0;
		margin: 0;
		}
		div#mainHeader h2 a {
			color: #ffffff;
			text-decoration: none;
		}
		div#mainHeader h2 a:hover {
			color: #ffffff;
			text-decoration: underline;
		}
	div#mainHeader ul {
		list-style-type: none;
		float: right;
		margin: 7px 7px;
		padding: 0;
		font-size: 15px;
		}
		div#mainHeader li {
			text-transform: lowercase;
			float: left;
			}
			div#mainHeader li a {
				text-decoration: none;
				color: #c6edff;
				border-left: 1px solid #2cbdff;
				border-right: 1px solid #00a0e9;
				padding: 3px 0.5em 3px 0.5em;
			}
			div#mainHeader li a.selected {
				text-decoration: underline;
			}
			div#mainHeader li a:hover {
				background-color: #1399d7;
				color: #ffffff;
			}
			div#mainHeader li a:active {
				background-color: #1882b3;
			}
		
/* level 2 header (module) */

div#moduleHeader {
	padding: 3px 3px 4px 20px;
	border-top: 1px solid #40c2fd;
	background: url('../images/smallHorizontalShadow.png') #107fc9 repeat-x;
	}
	div#moduleHeader h3 {
		text-transform: lowercase;
		font-weight: normal;
		font-size: 15px;
		padding: 0;
		margin: 0;
		color: #9ccafd;
		}
		div#moduleHeader h3 a {
			color: #daebff;
			text-decoration: none;
		}
		div#moduleHeader h3 a:hover {
			color: #ffffff;
			text-decoration: underline;
		}
	div#moduleHeader ul {
		list-style-type: none;
		float: right;
		margin: 2px 10px;
		padding: 0;
		font-size: 13px;
		}
		div#moduleHeader li {
			text-transform: lowercase;
			float: left;
			}
			div#moduleHeader li a {
				text-decoration: none;
				color: #add4ff;
				border-left: 1px solid #1d8cd7;
				border-right: 1px solid #0b77bf;
				padding: 2px 0.5em 1px 0.5em;
			}
			div#moduleHeader li a.selected {
				text-decoration: underline;
			}
			div#moduleHeader li a:hover {
				background-color: #1d71a9;
				color: #ffffff;
			}
			div#moduleHeader li a:active {
				background-color: #0f5686;
			}
		
/* header */

div#header {
	width: 980px;
	padding: 0em 1em 0em;
	margin: 0em auto 0.4em;
}
ul#mainMenu {
	font-size: large;
	
	margin-left: 0;
	list-style-type: none;
	clear: both;
}
ul#mainMenu li {
	
	margin-left: 0.6em;
	margin-right: 0.6em;
	float: left;
}
ul#mainMenu li ul {
	display: none;
	
	background-color: #d1e2f8;
	margin: 2px;
	padding: 0.3em 0em 0.5em;
	list-style-type: none;
	font-size: small;
	position: absolute;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
ul#mainMenu li:hover ul {
	display: block;
}
ul#mainMenu li ul li {
	position: relative;
	float: none;
	padding-top: 0.2em;
}
ul#mainMenu li ul li hr {
	height: 1px;
	border: 0;
	margin: 0;
	background-color: #a6c0e3;
}

#mainMenu a {
	text-decoration: none;
	
	color: #0091ed;
	
	padding: 0.1em 0.3em;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#mainMenu li.selected a {
	text-decoration: underline;
}
#mainMenu a:hover {
	text-decoration: underline;
	
	background-color: #0091ed;
	color: #ffffff;
}
#mainMenu a:active {
	background-color: #def2ff;
	color: #0091ed;
}
#mainMenu li ul a {
	display: block;
	text-decoration: none !important;
}

/* flash boxes */

/**
 * MESSAGE BOXES
 */
.flashBox {
	width: 950px;
	margin: 1em auto;
	padding: 0.5em 2em 0.5em 2em;
	border: 1px solid;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	text-align: center;
	font-size: medium;
}
.flashBox.error {
	color: #ff2a00;
	background-color: #ffcdc3;
	border-color: #ff2a00;
}
.flashBox.warning {
	color: #f3bd02;
	background-color: #fffad4;
	border-color: #ffe400;
}
.flashBox.success {
	color: #81ab00;
	background-color: #e7ff9d;
	border-color: #c0ff00;
}

/* content */

div#content {
	background-color: #fff;
	color: #333;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	width: 1000px;
	margin: 0.4em auto;
	padding: 0 0 20px 0;
}
#content p, #content blockquote
{
	color: #444;
}

div#pageContent
{
	/*text-align: justify;*/
	
	clear: both;
	margin: 0.2em 0.4em;
	padding: 0.2em;
}
div.contentRow
{
	clear: both;
}

.header
{
	text-shadow: 0px 1px 0 white;
	padding-bottom: 0.2em;
	border-bottom: 1px solid #c6c6c6;
}
.header a
{
	text-decoration: none;
}
.header a:hover
{
	text-decoration: underline;
}

/* alignments */

.alignLeft {
	float: left;
}
.alignRight {
	float: right;
}
.alignCenter {
	display: block;
	margin-left: auto !important;
	margin-right: auto !important;
}
.center
{
	text-align: center;
}
.left
{
	text-align: left;
}
.right
{
	text-align: right;
}


/* font sizes */

.xxSmall {
	font-size: xx-small;
}
.xSmall {
	font-size: x-small;
}
.small {
	font-size: small;
}
.large {
	font-size: large;
}
.xLarge {
	font-size: x-large;
}
.xxLarge {
	font-size: xx-large;
}



/* page headers */

div#pageHeader
{
	margin: 0 20px;
	border-bottom: 1px solid #c6c6c6;
}
#pageHeader h2
{
	font-weight: normal;
	text-shadow: #ddd 0px 2px 1px;
}
#pageHeader .subtitle, .subtitle
{
	font-size: normal;
	margin-top: 0.6em;
	margin-bottom: 0.4em;
	
	color: #9d9d9d;
	float: right;
	font-weight: normal;	
}
#pageHeader * a
{
	color: #424242;
	text-decoration: none;
}

/* page content */

div#pageContent
{
	margin: 15px;
}

/* content boxes */

.contentBox
{	
	margin: 0.5em;
	padding: 1em;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
div.bordered
{
	border: 1px solid #c6c6c6;
}
div.light
{
	background-color: #ececec;
}
div.dark
{
	background-color: #000211;
	color: #d8e6ff;
	border-color: #00266b;
}
div.dark .header
{
	border-color: #00266b;
}

/* fixed widths */

div.contentColumn
{
	margin: 0;
	padding: 0;
}
div.contentColumn.wide
{
	width: 720px;
}
div.contentColumn.half
{
	width: 480px;
}
div.contentColumn.third
{
	width: 320px;
}
div.contentColumn.quarter
{
	width: 240px;
}


/* styled lists */

ul.full, ul.compound
{
	list-style-type: none;
	padding: 0;
	margin: 0.2em;
}
ul.full li, ul.compound li
{
	margin: 0.8em 0.2em 0.8em 0.2em;
	padding: 0.5em;
}

/* "full" lists */

ul.full li
{
	border: 1px solid #e1e1e1;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
ul.full li:hover
{
	border: 1px solid #c6c6c6;
}

/* compound lists */

ul.compound li { padding: 0; }
ul.compound li *.firstRow
{
	padding: 0.5em;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-radius-topleft: 4px;
	-webkit-border-radius-topright: 4px;

	background-color: #f0f0f0;
}
ul.compound li *.lastRow
{
	padding: 0.5em;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-radius-bottomleft: 4px;
	-webkit-border-radius-bottomright: 4px;
	border-top: 0;
	
	background-color: #f9f9f9;
}
ul.compound li a.firstRow
{
	display: block;
}
ul.compound li a.firstRow:hover
{
	background-color: #e5e5e5;
}
ul.compound li a.firstRow:active
{
	background-color: #fbfbfb;
}

/* tags lists */

ul.tags
{
	list-style-type: none;
	padding-left: 0.5em;
}
ul.tags li
{
}
ul.tags li a
{
	padding: 4px;
	padding-left: 9px;
	display: block;
	background-color: #f7f7f7;
	border-top: 1px solid #fbfbfb;
	border-bottom: 1px solid #e9e9e9;
}
ul.tags li a:hover
{
	background-color: #ededed;
}
ul.tags li a:active
{
	background-color: #fff;
}


/* cloud list */

ul.cloud {
	padding: 0;
	list-style-type: none;
	text-align: center;
}
ul.cloud li {
	display: inline;
	margin: 0.2em;
}
ul.cloud li a {
	text-decoration: none;
}
ul.cloud li a:hover {
	text-decoration: underline;
}


/* text formats */

.noSpace {
	margin-top: 0;
	margin-bottom: 0;
}

.form_error {
	text-align: center;
	color: red;
}


/* forms */

form.grande input, input.grande
{
	font-size: x-large;
	padding: 0.2em;
}

form small {
	color: #666;
}