
/** Wiki default styles **/


/* General */

h1.wiki-title {
	font-size: x-large;
	padding: 0.2em;
	margin-bottom: 15px;
	-moz-border-radius: 6px;
	color: #626262;
	border-bottom: 1px solid #cfcfcf;
	background-color: #fdfdfd;
}

.wiki-warning {
	color: #f3bd02;
	background-color: #fffad4;
	border: 1px solid #ffe400;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
  padding: 10px;
  margin: 25px;
}


/* View */

.wiki-toc-container {
	font-size: small;
  margin: 0px 10px 10px 10px;
  float: right;
  width: 230px;
}

a.wiki-toc-header {
  display: block;
  text-align: center;
  padding: 5px;
	color: #4a0077;
	background-color: #f7eaff;
	border: 1px solid #efdafd;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-radius-topleft: 6px;
	-webkit-border-radius-topright: 6px;
	border-radius-topleft: 6px;
	border-radius-topright: 6px;
  text-decoration: none;
}
a.wiki-toc-header:hover {
  text-decoration: none;
}

#wiki-toc {
  margin: 3px 0px 0px 0px;
	color: #626262;
	border: 1px solid #cfcfcf;
	background-color: #fdfdfd;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-radius-bottomleft: 6px;
	-webkit-border-radius-bottomright: 6px;
	border-radius-bottomleft: 6px;
	border-radius-bottomright: 6px;
  padding: 0.5em 0.2em 0.5em 0;
}

#wiki-toc ul {
  list-style-type: square;
  padding: 0em 0em 0em 0em;
}

#wiki-toc ul.wiki-toc-level1
{
	margin-left: 1em;
}

#wiki-toc ul li {
	margin-left: 1em;
}

.wiki-page {
  padding: 0px 25px;
}


/* Edit */

.wiki-preview {
  border: 1px dashed #999;
  padding: 15px;
  background: #EEE;
}


/* Index */

.wiki-index p {
	margin: 10px;
}

.wiki-index ul {
	list-style-type: none;
	margin-left: 25px;
}

.wiki-index ul li {
	margin: 5px 0px 5px 0px;
}

.wiki-index ul li a {
	padding-left: 15px;
	font-size: 14px;
}

.wiki-index a.wiki-link-page {
	color: #33C;
	background: transparent url(../images/article.gif) no-repeat left center;
}

.wiki-index a.wiki-link-category {
	color: #C66;
}

.wiki-index a.wiki-link-category-open {
	background: transparent url(../images/dir_open.gif) no-repeat left center;
}

.wiki-index a.wiki-link-category-closed {
	background: transparent url(../images/dir_closed.gif) no-repeat left center;
}


/* History */

table.wiki-history {
  margin: 0px 0px 0px 25px;
  padding: 0;
  border: 1px solid #EEE;
  border-collapse: collapse;
  border-spacing: 0;
}

table.wiki-history th {
  font-weight: bold;
  text-align: left;
  padding: 5px 10px;
  background: #F9F9F9;
}

table.wiki-history td {
  padding: 5px 10px;
  border-top: 1px solid #EEE;
}


/* Diff */

.wiki-diff ins {
  background: green;
  text-decoration: none;
  font-weight: bold;
  padding: 0px 2px;
}

.wiki-diff del {
  background: red;
  padding: 0px 2px;
}


/* Breadcrumbs */

.wiki-breadcrumbs {
	margin: 0;
	padding: 10px 5px 10px 40px;
	background: #F9F9F9 url(../images/breadcrumbs.gif) no-repeat;
	background-position: 10px center;
	border: 1px solid #E3E3E3;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 15px;
}

.wiki-breadcrumbs a {
	text-decoration: none;
	color: #669;
}

.wiki-breadcrumbs a:hover {
	text-decoration: none;
	color: #333;
}

.wiki-breadcrumbs-separator {
	color: #666;
	margin: 0px 5px;
}


/* Page actions */

ul.wiki-actions {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	margin-bottom: -1px;
}

ul.wiki-actions li {
	float: left;
	padding: 0;
	margin: 0px 5px 0px 0px;
	background: #E9E9E9;
	border: 1px solid #E3E3E3;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-radius-topleft: 6px;
	-webkit-border-radius-topright: 6px;
	border-radius-topleft: 6px;
	border-radius-topright: 6px;
}

ul.wiki-actions li.active {
	border-bottom: 1px solid #F9F9F9;
	background: #F9F9F9;
}

ul.wiki-actions li a {
	display: block;
	margin: 0;
	padding: 5px 10px;
	color: #339;
}

ul.wiki-actions li.active a {
	font-weight: bold;
}