@CHARSET "UTF-8";

/**
 * Positions stylesheet. Only to position the elements!!
 */

/* CSS Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
}



/* Align Classes */

.alignRight {
	float: right;
}
.alignLeft {
	float: left;
}
.alignCenter {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
img.alignCenter {
	display: block;
}



/* fixed widths */

.fixedWidth.wide{
	width: 930px;
}
.fixedWidth.medium{
	width: 450px;
}


/* horizontal list menu */

.horizontalListMenu li
{
	float: left;
}



/* message boxes */

.messageBox {
	width: 950px;
	margin: 1em auto;
	padding: 0.5em 2em 0.5em 2em;
}



/* user menu (login, logout, profile, etc...) */

#userMenu
{
	width: 1000px;
	margin: 0 auto 0 auto;
	padding: 1px !important;
}
#userMenu ul
{
	float: right;
	margin-right: 1px !important;
}
#userMenu li
{
	margin-left: 0.5em;
}



/* main menu */

#mainMenu
{
	width: 950px;
	height: 41px;
	margin: 1em auto 0em auto;
	padding: 0 4em 0 0em;
}
#mainMenu ul
{
	position: absolute;
	height: 41px;
}
#mainMenu li
{
	width: 140px;
	height: 100%;
}
#mainMenu li.last
{
	width: 1px;
	height: 100%;
}
#mainMenu li a
{
	height: 29px;
	padding-top: 12px;
}
#mainMenu li a img
{
	margin-top: -5px;
}



/* content */

#content {
	width: 950px;
	margin: 1em auto 0.5em auto;
	padding: 2em;
}



/* navigation links */

a.navigation
{
	text-align: center;
	margin-top: 1em;
	padding: 0.8em;
	display: block;
}


/* extensible links */

span.extensible img.more
{
	display:none;
}
span.extensible:hover img.more
{
	padding-left: 4px;
	vertical-align: middle;
	display: inline;
	position: absolute;
}



/* lists */

ol.normalList, ul.normalList
{
	margin: 0;
	padding-top: 6px;
	padding-bottom: 6px;
}
.normalList li
{
	padding: 0.5em 1em 0.5em 1em;
}



/* content boxes */

div.normalBox {
	padding: 0.5em;
	margin-bottom: 1em;
}

div.normalBox .header{
	padding-bottom: 0.2em;
	margin-bottom: 0.4em;
}



/* games */

img.gameThumbnail
{
	padding: 5px;
	margin: 4px;
	margin-right: 1em;
}



/* footer */

#footer {
	padding: 2em;
}
